.body__bill {
  height: 100vh;
  padding: 32px 0;
}
.bill__info {
  background: #fff;
  padding: 26px 28px 32px;
  border-radius: 8px;
  width: 58%;
  margin: 0 auto;
}
.bill__row,
.bill__product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.bill__icon {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.bill__title {
  font-size: 2.4rem;
  font-weight: 600;
}
.bill__slogan {
  width: 328px;
  margin-top: 10px;
  font-size: 1.8rem;
}
.bill__column:last-of-type {
  text-align: right;
}
.bill__id {
  margin-top: 10px;
}
.bill__date {
  margin-top: 6px;
}
.bill__row:nth-of-type(2) {
  margin-top: 36px;
}
.bill__sub-title {
  font-size: 2rem;
  font-weight: 600;
}
.bill__detail:first-of-type {
  margin-top: 6px;
}
.bill__detail + .bill__detail {
  margin-top: 4px;
}
.bill__shop-info {
  text-align: right;
}
.bill__products {
  margin-top: 32px;
}
.bill__sub-title.center {
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 2px dashed #000;
}
.bill__table thead tr {
  height: 48px;
  font-size: 1.8rem;
  line-height: 48px;
  text-align: center;
  text-decoration: underline;
}
.bill__table tbody tr {
  height: 64px;
  text-align: center;
}
.bill__table tbody tr td {
  vertical-align: middle;
  padding: 4px 6px;
}
.bill__payment {
  position: relative;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  display: inline-block;
  margin-top: 12px;
}
.bill__payment p + p {
  margin-top: 6px;
}
.bill__payment span {
  font-size: 1.8rem;
  font-weight: 600;
}
.bill__payment-function {
  margin-top: 32px;
}
.bill__thankyou {
  margin-top: 36px;
}
.bill__thankyou p:first-of-type {
  font-size: 1.8rem;
  font-weight: 600;
}
.bill__thankyou p:last-of-type {
  margin-top: 8px;
  text-align: justify;
  line-height: 1.28;
}

/* ================== */
@media screen and (max-width: 900px) {
  .bill__info {
    margin: 0;
    width: 100%;
  }
}
/* =================================mobile */

@media screen and (max-width: 700px) {
  .bill__info {
    margin: 0;
    width: 100%;
  }
  .bill__slogan,
  .bill__shop-info,
  .bill__user-info,
  .bill__column {
    width: 100%;
  }
  .bill__row,
  .bill__shop-info,
  .bill__column:last-of-type {
    text-align: center;
  }

  .bill__row {
    flex-direction: column;
  }
}
