/* <===== Header =====> */
.header {
  background: #a94064;
}
.header.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}
.header__menu {
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 0;
}
.header__main-icon {
  height: 52px;
  line-height: 52px;
}
.header__main-icon strong.main-icon {
  font-family: "Roboto";
  font-size: 2.4rem;
  font-weight: 700;
}
.header__navbar {
  display: flex;
  align-items: center;
  gap: 18px 0;
  margin-left: auto;
  margin-right: auto;
}
.header-navbar__action {
  display: inline-block;
  padding: 16px 18px;
  color: #dbd7d7;
  font-size: 2rem;
  cursor: pointer;
  transition: hover 0.3s, color 0.3s, text-shadow 0.3s;
}
.header-navbar__action:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.header-navbar__action#home {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header__icon {
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
  pointer-events: none;
}
.header__admin-icon {
  visibility: hidden;
}
.header__find-icon {
  position: relative;
}
.header__find-container {
  position: fixed;
  z-index: 3;
  inset: 0;
  width: 100vw;
  height: 100vh;
}
.header__find-overlay {
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}
.header__find-block {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background: #fff;
  height: 100vh;
  padding: 24px 26px;
  inset: 0 0 0 66%;
  overflow: auto;
}
.header__find-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__find-title {
  position: relative;
  padding-bottom: 7px;
  font-size: 2rem;
  font-weight: 700;
}
.header__find-title::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background: #000000;
  width: 100%;
  height: 2px;
}
.header__find-exit {
  color: #ccc;
  font-size: 3.2rem;
  text-align: center;
  cursor: pointer;
}
.header__find-input {
  margin-top: 24px;
  background-color: #ccc;
  width: 100%;
  padding: 14px 16px;
}
#suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: none;
  z-index: 9999;
  max-height: 350px;
}

#suggestions-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
}

#suggestions-list li:last-child {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

#suggestions-list li img {
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 55%;
  margin-left: 20px;
}

#suggestions-list li span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 1.2em;
}

#suggestions-list li:hover {
  background-color: #f0f0f0;
}

#suggestions-list li.HeaderSearch__product-not-found {
  display: block;
  text-align: center;
}

#suggestions-list li.HeaderSearch__product-not-found span:first-child {
  font-size: 1.7rem;
  font-style: italic;
}

#suggestions-list li.HeaderSearch__product-not-found span:last-child {
  font-size: 2.5rem;
}
.header__find-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__find-action {
  font-size: 2.4rem;
  cursor: pointer;
}
.header__find-action:hover {
  color: #fc8eac;
}
.header__shopping-cart-icon {
  position: relative;
}
.header__shopping-cart-notification {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  line-height: 12px;
  text-align: center;
  visibility: hidden;
}
.header__user-icon {
  position: relative;
}
.header__user-container {
  position: fixed;
  z-index: 3;
  inset: 0;
  width: 100vw;
  height: 100vh;
}
.header__user-overlay {
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}
.header__user-exit {
  position: absolute;
  top: -2px;
  right: 10px;
  z-index: 5;
  color: #ccc;
  font-size: 3.2rem;
  text-align: center;
  cursor: pointer;
}
.header__user-block {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate3d(-50%, -50%, 0);
  z-index: 5;
  /* */
  background: #fff;
  width: 524px;
  padding: 28px 30px;
  border-radius: 24px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
}
.header__user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__user-action {
  display: inline-block;
  width: 50%;
  height: 48px;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  transition: color 0.3s;
}
.header__user-action::after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 8px;
  background: #000;
  border-radius: 999px;
  transition: opacity 0.3s, background-color 0.3s;
}
.header__user-action#login {
  color: #a94064;
}
.header__user-action#login::after {
  opacity: 1;
  background-color: #a94064;
}
.header__user-form {
  padding: 0 20px;
  margin-top: 36px;
}
.header__form-group:not(:first-of-type, :last-of-type) {
  margin-top: 32px;
}
.header__form-group:last-of-type {
  margin-top: 24px;
}
.header__form-group label {
  font-size: 2.2rem;
}
.header__form-group input:not([type="checkbox"], [type="submit"]) {
  color: #000;
  font-size: 2rem;
}
.header__form-group input:not([type="checkbox"], [type="submit"]) {
  width: 100%;
  border-bottom: 1px solid #000 !important;
  padding: 12px 14px;
}
.header__form-group.privacy-checkbox [type="checkbox"] + label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px 12px;
}
.header__form-group.privacy-checkbox [type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
}
.header__form-group.privacy-checkbox [type="checkbox"] + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 3px;
  width: 9px;
  height: 4px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(-45deg);
}
.header__form-group.privacy-checkbox [type="checkbox"]:checked + label::before {
  border-color: #000;
  background: #000;
}
.header__form-group:has([type="submit"]) {
  display: flex;
  justify-content: center;
}
.header__form-group [type="submit"] {
  width: 248px;
  height: 64px;
  background: #000;
  border-radius: 999px;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  transition: background-color 0.2s;
}
.header__form-group [type="submit"]:hover {
  background-color: #fc8eac;
}
.header__user-contacts-title {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #ccc;
  font-size: 2rem;
}
.header__user-contacts-title::before,
.header__user-contacts-title::after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 1px;
  background: #ccc;
}
.header__user-contacts-block,
.header__user-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header__user-contacts {
  margin-top: 24px;
}
.header__user-contacts-block {
  gap: 0 36px;
  margin-top: 6px;
}
.header__user-contact {
  width: calc(50% - 18px);
  height: 48px;
  transition: color 0.2s;
}
.header__user-contact:hover {
  color: #fc8eac;
}
.header__user-contact-icon {
  font-size: 2rem;
}
.header__user-contact-sub-title {
  font-size: 2.4rem;
  margin-left: 14px;
}

/* <===== Body =====> */
.body {
  background: #fbf4f4;
}
/* <=== Hero ===> */
.body__home .home__hero {
  position: relative;
  content: "width=device-width, initial-scale=1.0";
  top: 0;
  left: calc(-1 * calc(100vw - 100%) / 2);
  background: url("/user/assets/images/hero-image.jpg") center/cover no-repeat;
  width: calc(100% + calc(100vw - 100%));
  height: calc(100vh - 80px);
  object-fit: contain;
}
.body__home .hero__rectangle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(169, 64, 100, 0.32);
  padding: 32px calc(calc(100vw - 100%) / 2);
}
.body__home .hero__content {
  width: 100%;
}
.body__home .hero__title {
  color: #fff;
  text-align: center;
}
.body__home .hero__desc {
  margin-top: 18px;
  color: #f0f0f0;
  text-align: center;
}
/* <=== Popular List ===> */
.body__home .home__popular-menu {
  margin-top: 160px;
}
.body__home .popular-product__title {
  text-align: left;
}
.body__home .popular-menu__list {
  --columns: 3;
  --gap: 39px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-top: 48px;
}
.body__home .popular-menu__item {
  position: relative;
  width: calc(100% / var(--columns) - var(--gap) + var(--gap) / var(--columns));
  cursor: pointer;
}
.body__home .popular-menu__media {
  overflow: hidden;
}
.body__home .popular-menu__image {
  height: 350px;
  transition: 0.4s;
}
.body__home .popular-menu__item:hover .popular-menu__image {
  filter: blur(8px);
}
.body__home .popular-menu__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: transparent;
  font-size: 2.8rem;
  font-weight: 700;
  text-shadow: 1px 0 0 rgba(169, 64, 100, 0.3);
  transition: color 0.4s;
}
.body__home .popular-menu__item:hover .popular-menu__label {
  color: #fff;
}
/* <== Popular / Sales Product  ===> */
.body__home .popular-product__header,
.body__home .popular-product__pagination,
.body__home .popular-product__list,
.body__home .sale-product__header,
.body__home .sale-product__list,
.body__home .sale-product__item {
  display: flex;
  align-items: center;
}
.body__home .popular-product__add-to-shopping-cart,
.body__home .sale-product__add-to-shopping-cart {
  font-size: 2rem;
  width: 100%;
  margin-top: 12px;
}
/* <=== Popular Product ===> */
.body__home .home__popular-product {
  margin-top: 160px;
}
.body__home .popular-product__header {
  justify-content: space-between;
}
.body__home .popular-product__pagination {
  position: relative;
  top: 42px;
  gap: 14px;
}
.body__home .popular-product__pagination button {
  font-size: 3.2rem;
}
.body__home .popular-product__body {
  overflow-x: hidden;
}
.body__home .popular-product__list {
  --columns: 4;
  --gap: 24px;
  gap: var(--gap);
  margin-top: 48px;
  transition: transform 0.3s;
}
.body__home .popular-product__item {
  min-width: calc(
    100% / var(--columns) - var(--gap) + var(--gap) / var(--columns)
  );
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.body__home .popular-product__item:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.body__home .popular-product__image {
  height: 300px;
  object-fit: contain;
}
.body__home .popular-product__info {
  padding: 16px 18px;
  border-top: 1px solid #ccc;
}
.body__home .popular-product__name {
  max-height: 4.5em;
  font-weight: 600;
  line-height: 1.2;
}
.body__home .popular-product__detail-brand {
  font-size: 1.4rem;
  font-weight: 600;
  color: #535252;
}
.body__home .fa-star {
  color: #cccccc;
  font-size: 11px;
}
.body__home .yellow {
  text-align: start;
  color: #fbff00;
  font-size: 14px;
}
.body__home .danhGia {
  display: inline;
  color: #6c6c6c;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
}
.popular-product__price-container {
  margin: 6px 0;
}
.body__home .popular-product__detail-price {
  margin-top: 5px;
  color: rgb(199, 11, 11);
  font-size: 1.8rem;
  font-weight: 700;
  display: inline-block;
}
.body__home .popular-product__detail-bottle {
  display: inline-block;
}
/* <=== Sale Product ===> */
.body__home .home__sale-product {
  margin-top: 68px;
}
.body__home .sale-product__header {
  justify-content: center;
  gap: 14px;
}
.body__home .sale-product__title {
  font-size: 2.8rem;
  font-weight: 700;
}
.body__home .sale-product__header button {
  font-size: 2.4rem;
}
.body__home .sale-product__body {
  width: 100%;
  overflow-x: hidden;
}
.body__home .sale-product__list {
  --columns: 3;
  --gap: 30px;
  gap: var(--gap);
  margin-top: 24px;
  transition: transform 0.3s;
}
.body__home .sale-product__item {
  position: relative;
  background-color: #ffffff;
  min-width: calc(100% / var(--columns) - var(--gap) + var(--gap) / var(--columns));
  transition: box-shadow 0.3s, transform 0.5s ease;
  cursor: pointer;
}
.body__home .sale-product__name {
  max-height: 4.5em;
}
.sale-product__item-percent {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translateX(-100%);
  z-index: 1;
  border-radius: 50%;
  color: red;
  font-size: 1.8rem;
  text-align: center;
}

.body__home .sale-product__item:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.body__home .sale-product__media {
  overflow: hidden;
  width: 30%;
  height: 100%;
}
.body__home .sale-product__info {
  width: 70%;
  height: 100%;
  background: #fff;
  padding: 16px 18px;
  border-left: 1px solid #ccc;
}
.body__home .sale-product__name {
  font-weight: 600;
  line-height: 1.17;
}
.body__home .sale-product__price {
  margin-top: 6px;
}
.body__home .sale-product__price .old {
  font-weight: 600;
  color: #999494;
  text-decoration: line-through;
}
.old sup {
  vertical-align: super;
  font-size: 0.8em;
}
.body__home .sale-product__price .new {
  color: rgb(199, 11, 11);
  font-size: 2rem;
  font-weight: 700;
  margin-top: 50px;
}
.body__home .sale-product__add-to-shopping-cart {
  margin-top: 8px;
}

/* <=== Useful ===> */
.body__home .home__useful {
  display: flex;
  align-items: center;
  padding: 160px 0;
}
.body__home .home__useful > * {
  width: 50%;
}
.body__home .useful__model {
  height: 586px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.body__home .useful__content {
  padding-left: 62px;
}
.body__home .useful__title {
  text-align: left;
}
.body__home .useful__list {
  margin-top: 26px;
}
.body__home .useful__item {
  display: flex;
  align-items: center;
  gap: 0 24px;
}
.body__home .useful__item + .useful__item {
  margin-top: 8px;
}
.body__home .useful__desc {
  position: relative;
  padding-left: 32px;
  font-size: 1.8rem;
  line-height: 1.48;
  text-align: justify;
}
.body__home .useful__desc b {
  font-size: 2rem;
  font-weight: 600;
}
.body__home .useful__desc::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  background: #000000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
/* <=== Feedback ===> */

/* <===== Footer =====> */
.footer {
  background: #a94064;
  padding: 48px 0;
}
.footer__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0 24px;
}
.footer__icon--strong {
  font-family: "Roboto";
  font-size: 2.4rem;
  font-weight: 700;
}
.footer__desc {
  width: 348px;
  margin-top: 10px;
  color: #dbd7d7;
  font-size: 1.8rem;
  line-height: 1.37;
  text-align: justify;
}
.footer__icons {
  display: flex;
  align-items: center;
  gap: 6px 12px;
  margin: 16px 0 48px;
}
.footer__icon {
  color: #fff;
  font-size: 1.8rem;
}
.help__title,
.contacts__title,
.media__title {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 18px;
}
.help__action,
.contacts__location,
.contacts__email,
.contacts__phone {
  color: #dbd7d7;
}
.help__item + .help__item,
.contacts__email,
.contacts__phone {
  margin-top: 12px;
}
.contacts__email {
  word-break: break-word;
}
.footer__contacts {
  width: 23.4%;
}
.footer__contacts b {
  color: #fff;
  font-weight: 600;
}
.contacts__location {
  line-height: 1.27;
}
.footer__copyright {
  margin-top: 48px;
}
.copyright__line {
  background: #dbd7d7;
  width: 100%;
  height: 2px;
  border-radius: 999px;
}
.copyright__info {
  width: 32.8%;
  margin: 18px auto 0;
  color: #dbd7d7;
  line-height: 1.37;
  text-align: center;
}

.header__menu-toggle {
  display: none;
}
/* .container-notification {
  position: fixed;
  height: 50%;
  top: 20px;
  right: 1%;
  z-index: 10;
  overflow: hidden;

  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
} */

#empty-notification.active {
  border-radius: 5px;
  font-size: 1.8rem;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
  text-align: center;
  /* width: 100%; */
  margin-bottom: 20px;
  transform: translate(110%, 0);
  transition: transform 0.2s ease;
  position: fixed;
  top: 20px;
  right: 1%;
  z-index: 10;
}

#empty-notification.active {
  transform: translate(0, 0);
}



/* ==========================chung cho mobile và tablet */
@media screen and (max-width: 850px) {
  .container-notification p{
    font-size: 1.7rem;
    padding: 0 5px;
  }
  .header__main-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .header__navbar {
    position: absolute;
    display: block;
    /* ẩn thanh navbar */
    top: 75px;
    background-color: #a94064;
    border-radius: 5px;
    left: -300px;
    height: 100vh;
    transition: left 0.3s ease;
    width: 200px;
  }
  .header__menu {
    display: flex;
    justify-content: space-between;
  }

  .header__navbar.active {
    left: -25px; /* Khi hiển thị, navbar di chuyển vào màn hình*/
  }

  .header__menu-toggle {
    display: block;
    /* hiển thị dáu 3 gach */
    color: #fff;
    margin-right: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  .header__find-block {
    inset: 0 0 0 0;
  }
}

/* =================responsive mobile===================== */

@media screen and (max-width: 500px) {
  .container-notification p{
    font-size: 1.5rem;
    padding: 0 5px;
  }
  .useful__media{
    display: none;
  }
  .home__useful .useful__content{
    padding: 0;
  }
  .home__useful .useful__content,
  .useful__title.heading-lv2{
    width: 100%;
  }
  /* <=== Popular Menu List ===> */
  .body__home .popular-menu__list {
    --columns: 1;
  }
  /* <=== Popular Product List ===> */
  .body__home .popular-product__list {
    --columns: 1;
    margin-top: 16px;
  }
  /* <=== Sale Product List ===> */
  .body__home .sale-product__list{
    --columns: 1;
  }
  .footer__contacts {
    margin-top: 48px;
  }
}

@media screen and (max-width: 600px) {
  .container-notification p{
    font-size: 1.5rem;
    padding: 0 5px;
  }
  /* <=== Hero ===> */
  .body__home .home__hero {
    display: none !important;
  }

  /* <=== Popular Menu ===> */
  .body__home .home__popular-menu {
    margin-top: 0;
    padding-top: 48px;
  }

  .footer__content {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer__desc {
    width: 100%;
  }

  .footer__contacts {
    /* margin-left: 20px; */
    flex-grow: 1;
  }

  .copyright__info {
    width: 100%;
    margin: 0;
  }
  .contacts__email {
    word-break: break-word;
  }
}

/*================== responsive  cho ipad====================== */

@media screen and (min-width: 501px) and (max-width: 1000px) {
  /* <=== Popular List ===> */
  .body__home .popular-menu__list {
    --columns: 2;
  }
  /* <=== Useful ===> */

  .body__home .useful__title {
    text-align: center;
  }
  .useful__media {
    display: none;
  }

  .useful__content {
    width: 100% !important;
    padding-left: 0 !important;
  }

  .help__title,
  .footer__contacts {
  }

  .copyright__info {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 726px) and (max-width: 1000px) {
  .body__home .popular-product__list {
    --columns: 3;
  }
}

@media screen and (min-width: 501px) and (max-width: 725px) {
  .body__home .popular-product__list {
    --columns: 2;
  }
}
@media screen and (min-width: 501px) and (max-width: 900px){
  .body__home .sale-product__list{
    --columns: 2;
  }
}

/* @media screen and (min-width: 500px) and (max-width: 800px) {
} */