/* <===== Payment Information =====> */
.body__payment-information {
  padding: 32px 58px;
}
.payment-information__icon {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
}
.payment-information__desc {
  font-size: 2rem;
  margin-top: 8px;
  text-align: center;
}
.payment-information__content {
  display: flex;
  /* Để deliver__products không kéo dãn chiều cao */
  align-items: flex-start;
  gap: 0 32px;
  margin-top: 32px;
}
/* <== payment-information Info ===> */
.payment-information__info {
  width: 64%;
  padding: 26px 28px 32px;
  border-radius: 8px;
  background: #fff;
}
.payment-information-info__block:first-of-type {
  margin-top: 18px;
}
.payment-information-info__block + .payment-information-info__block {
  margin-top: 36px;
}
.payment-information-info__title {
  position: relative;
  padding-bottom: 7px;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}
.payment-information-info__title::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background: #000;
  width: 100%;
  height: 2px;
}
.payment-information-info__sub-title {
  font-size: 1.8rem;
  font-weight: 600;
}
.payment-information-info__form {
  margin-top: 12px;
}
.payment-information-info__form input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  color: #737373;
}
.payment-information-info__block .ship-price {
  margin-left: auto;
}
.payment-information-info__form-group + .payment-information-info__form-group {
  margin-top: 8px;
}
.payment-information-info__form-group:nth-of-type(2) [type="email"] {
  width: calc(64% - 4px);
  float: left;
}
.payment-information-info__form-group:nth-of-type(2) [type="phone"] {
  width: calc(36% - 4px);
  margin-left: 8px;
}
.payment-information-info__form-group:nth-of-type(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.payment-information-info__select {
  display: inline-block;
  width: (100% / 3);
  padding: 8px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  color: #737373;
  text-align: center;
}
.payment-information-info__change-address-action {
  display: inline-block;
  margin-top: 14px;
  color: #ccc;
  font-style: italic;
  transition: color 0.2s;
}
.payment-information-info__change-address-action:hover {
  color: #000;
  font-style: normal;
}
.payment-information-info__change-address-list {
  margin-top: 10px;
}
.payment-information-info__change-address-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #777;
  font-size: 1.4rem;
  cursor: pointer;
}
.payment-information-info__change-address-item::before,
.payment-information-info__change-address-item::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: currentColor;
}
.payment-information-info__change-address-item
  + .payment-information-info__change-address-item {
  margin-top: 6px;
}
.payment-information-info__change-address-body
  .form-group:nth-of-type(1)
  input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 4px 6px;
  margin-top: 8px;
}
.payment-information-info__change-address-body .form-group:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-information-info__change-address-body .form-group:nth-of-type(3) {
  position: relative;
}
.payment-information-info__change-address-body
  .form-group:nth-of-type(3)
  input {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  display: inline-block;
  width: 84px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}
.payment-information-info__change-address-body .form-group + .form-group {
  margin-top: 6px;
}
.payment-information-info__form-group > [type="radio"] + label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  color: #737373;
}
.payment-information-info__form-group > [type="radio"] + label i {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin: 0 8px;
  color: #000;
  line-height: 36px;
  text-align: center;
}
.payment-information-info__form-group > [type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  transition: border-color 0.3s, background-color 0.3s;
}
.payment-information-info__form-group > [type="radio"] + label::after {
  content: "";
  position: absolute;
  top: 27px;
  left: 22px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}
.payment-information-info__form-group > [type="radio"]:checked + label::before {
  border-color: #fc8eac;
  background: #fc8eac;
}
figure:has(.payment-information-info__internet-banking-image) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-information-info__internet-banking-image {
  max-width: 200px;
  max-height: 200px;
}
.payment-information-info__internet-banking-details {
  margin-bottom: 12px;
}
.payment-information-info__internet-banking-detail b {
  font-weight: 600;
}
.payment-information-info__internet-banking-detail
  + .payment-information-info__internet-banking-detail {
  margin-top: 6px;
}
.payment-information-info__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.payment-information-info__card > [type="radio"] + label {
  transition: color 0.2s;
}
.payment-information-info__card > [type="radio"] + label i {
  font-size: 5rem;
}
.payment-information-info__card > [type="radio"]:checked + label {
  color: #fc8eac;
}
.payment-information-info__card-form-group {
  margin-top: 6px;
}
.payment-information-info__card-form-group > input {
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 0;
}
.payment-information-info__card-form-group > input:not(:placeholder-shown) {
  border-color: #fc8eac;
}
.payment-information-info__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.payment-information-info__comeback-button {
  color: #ccc;
  font-style: italic;
  transition: color 0.2s;
}
.payment-information-info__comeback-button:hover {
  color: #000;
  font-style: normal;
}
.payment-information-info__submit {
  width: 208px;
  height: 48px;
  background: #000;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  transition: background-color 0.2s;
}
.payment-information-info__submit:hover {
  background: #fc8eac;
}
/* <=== payment-information Products ===> */
.payment-information__products {
  position: sticky;
  top: 32px;
  left: 0;
  z-index: 2;
  width: 36%;
}
.payment-information-products__item,
.payment-information-products__body {
  display: flex;
  align-items: center;
}
.payment-information-products__body {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 8px 0 8px 10px;
}
.payment-information-products__list {
  max-height: 400px;
  overflow-y: auto;
}
.payment-information-products__item {
  position: relative;
  height: calc(100% / 5);
}
.payment-information-products__item:first-of-type {
  margin-top: 12px;
}
.payment-information-products__item + .payment-information-products__item {
  margin-top: 20px;
}
figure:has(.payment-information-products__image) {
  margin-right: 14px;
  width: 80px;
  height: 80px;
  background: #fff;
}
.payment-information-products__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.payment-information-products__name {
  max-height: 28px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
}
.payment-information-products__details {
  margin-top: 8px;
  color: #777;
  font-size: 1.3rem;
}
.payment-information-products__total-price-product {
  margin-top: 10px;
  font-weight: 600;
}
.payment-information-products__numbers {
  position: absolute;
  top: 5px;
  left: 65px;
  width: 22px;
  height: 22px;
  background: #fc8eac;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
}
.payment-information-products__calculation,
.payment-information-products__total-price {
  margin-top: 26px;
}
.payment-information-products__calculation::before,
.payment-information-products__total-price::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #393939;
  margin-bottom: 24px;
}
.payment-information-products__temp-price,
.payment-information-products__ship-price {
  position: relative;
  color: #393939;
  font-size: 1.4rem;
}
.payment-information-products__temp-price span,
.payment-information-products__ship-price span {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  font-weight: 600;
  font-size: 1.6rem;
}
.payment-information-products__ship-price {
  margin-top: 8px;
}
.payment-information-products__total-price {
  position: relative;
  color: #393939;
}
.payment-information-products__total-price span {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
}

/* <=*/

/* ==================== chung mobile  tablet */
@media screen and (max-width: 800px) {
  .payment-information__content {
    flex-direction: column-reverse;
  }
}

/* =================== mobile */

@media screen and (max-width: 500px) {
  /* --------------- thanh toán */

  .body__payment-information {
    padding: 32px 0;
  }

  .payment-information__products {
    width: 100%;
  }

  .payment-information-products__image {
    width: 80px;
  }
  .payment-information__info {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  /* --------------- thanh toán */

  .body__payment-information {
    padding: 32px 32px;
  }

  .payment-information__products {
    width: 100%;
  }

  .payment-information__info {
    margin-top: 20px;
    width: 100%;
  }
}

.payment-information-products__image {
  width: 80px;
}
