/* <===== Shopping Cart =====> */
.body__shopping-cart {
  padding: 32px 0;
}
.shopping-cart__content {
  background: #fff;
  padding: 26px 28px 32px;
  border-radius: 8px;
}
.shopping-cart__title {
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}
.shopping-cart__title::after {
  content: "";
  display: block;
  width: 88%;
  height: 2px;
  background: #000;
  margin: 10px auto 18px;
}
.shopping-cart__body {
  height: 480px;
}
.shopping-cart__list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.shopping-cart__inform {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: rgba(119, 119, 119, 0.2);
  font-family: "Roboto";
  font-size: 5.8rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.4rem;
  line-height: 1.17;
  text-align: center;
}
.shopping-cart__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
}
.shopping-cart__item::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #d4d4d4;
}
.shopping-cart__item + .shopping-cart__item {
  margin: 12px 0;
}
figure:has(.shopping-cart__image) {
  width: 100px;
  height: 100px;
}
.shopping-cart__image {
  width: 100%;
  height: 100%;
}
.shopping-cart__name {
  width: 368px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.17;
}
.shopping-cart__details {
  color: #777;
  font-weight: 600;
  margin-top: 8px;
}
.shopping-cart__quantity {
  margin-left: 112px;
}
.shopping-cart__operator,
.shopping-cart__number {
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 2rem;
  line-height: 38px;
  text-align: center;
}
.shopping-cart__operator {
  background: #eee;
  transition: background-color 0.2s;
}
.shopping-cart__operator:hover {
  background: #ccc;
}
.shopping-cart__product-total-price {
  width: 148px;
  font-size: 1.7rem;
  margin-left: 28px;
  text-align: right;
}
.shopping-cart__trash {
  display: block;
  color: red;
  font-size: 2.8rem;
  margin-left: 134px;
}
.shopping-cart__trash i {
  /* Vô hiệu hoá khả năng nhấn vào icon */
  pointer-events: none;
}
.shopping-cart__payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.shopping-cart__payment-info {
  font-size: 2rem;
}
.shopping-cart__total-price {
  font-weight: 700;
}
.shopping-cart__payment-button {
  width: 186px;
  height: 48px;
  background: #000;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  transition: background-color 0.2s;
}
.shopping-cart__payment-button:hover {
  background: #fc8eac;
}

/* <===== Payment Information =====> */
.body__payment-information {
  padding: 32px 58px;
}
.payment-information__icon {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
}
.payment-information__desc {
  font-size: 2rem;
  margin-top: 8px;
  text-align: center;
}
.payment-information__content {
  display: flex;
  /* Để deliver__products không kéo dãn chiều cao */
  align-items: flex-start;
  gap: 0 32px;
  margin-top: 32px;
}
/* <== payment-information Info ===> */
.payment-information__info {
  width: 60%;
  padding: 26px 28px 32px;
  border-radius: 8px;
  background: #fff;
}
.payment-information-info__block:first-of-type {
  margin-top: 18px;
}
.payment-information-info__block + .payment-information-info__block {
  margin-top: 36px;
}
.payment-information-info__title {
  position: relative;
  padding-bottom: 7px;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}
.payment-information-info__title::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background: #000;
  width: 100%;
  height: 2px;
}
.payment-information-info__sub-title {
  font-size: 1.8rem;
  font-weight: 600;
}
.payment-information-info__form {
  margin-top: 12px;
}
.payment-information-info__form input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  color: #737373;
}
.payment-information-info__block .ship-price {
  margin-left: auto;
}
.payment-information-info__form-group + .payment-information-info__form-group {
  margin-top: 8px;
}
.payment-information-info__form-group:nth-of-type(2) [type="email"] {
  width: calc(64% - 4px);
  float: left;
}
.payment-information-info__form-group:nth-of-type(2) [type="phone"] {
  width: calc(36% - 4px);
  margin-left: 8px;
}
.payment-information-info__form-group:nth-of-type(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.payment-information-info__select {
  display: inline-block;
  width: (100% / 3);
  padding: 8px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  color: #737373;
  text-align: center;
}
.payment-information-info__change-location-action {
  display: inline-block;
  margin-top: 14px;
  color: #ccc;
  font-style: italic;
  transition: color 0.2s;
}
/* .payment-information-info__change-location-action:focus {
  color: #000;
  font-style: normal;
} */
.payment-information-info__change-location-list {
  display: none;
  margin-top: 8px;
}
.payment-information-info__change-location-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #777;
  font-size: 1.4rem;
  cursor: pointer;
}
.payment-information-info__change-location-item::before,
.payment-information-info__change-location-item::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: currentColor;
}
.payment-information-info__change-location-item
  + .payment-information-info__change-location-item {
  margin-top: 4px;
}
/* .payment-information-info__change-location-action:focus
  + .payment-information-info__change-location-list {
  display: block;
} */
.payment-information-info__form-group [type="radio"] + label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 14px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  color: #737373;
}
.payment-information-info__form-group [type="radio"] + label i {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin: 0 8px;
  color: #000;
  line-height: 36px;
  text-align: center;
}
.payment-information-info__form-group [type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  transition: border-color 0.3s, background-color 0.3s;
}
.payment-information-info__form-group [type="radio"] + label::after {
  content: "";
  position: absolute;
  top: 27px;
  left: 22px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}
.payment-information-info__form-group [type="radio"]:checked + label::before {
  border-color: #fc8eac;
  background: #fc8eac;
}
.payment-information-info__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.payment-information-info__comeback-button {
  color: #ccc;
  font-style: italic;
  transition: color 0.2s;
}
.payment-information-info__comeback-button:hover {
  color: #000;
  font-style: normal;
}
.payment-information-info__submit {
  width: 208px;
  height: 48px;
  background: #000;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}
/* <=== payment-information Products ===> */
.payment-information__products {
  position: sticky;
  top: 32px;
  left: 0;
  width: 40%;
}
.payment-information-products__item,
.payment-information-products__body {
  display: flex;
  align-items: center;
}
.payment-information-products__body {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 8px 0 8px 10px;
}
.payment-information-products__list {
  max-height: 320px;
  overflow-y: auto;
}
.payment-information-products__item {
  position: relative;
  height: calc(100% / 4);
}
.payment-information-products__item:first-of-type {
  margin-top: 12px;
}
.payment-information-products__item + .payment-information-products__item {
  margin-top: 18px;
}
figure:has(.payment-information-products__image) {
  margin-right: 14px;
  width: 80px;
  height: 80px;
  background: #fff;
}
.payment-information-products__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.payment-information-products__name {
  width: 308px;
  height: 28px;
  font-size: 1.4rem;
  font-weight: 600;
}
.payment-information-products__details {
  margin-top: 4px;
  color: #777;
  font-size: 1.3rem;
}
.payment-information-products__total-price-product {
  margin-top: 6px;
  font-weight: 600;
}
.payment-information-products__numbers {
  position: absolute;
  top: -10px;
  left: 70px;
  width: 22px;
  height: 22px;
  background: #fc8eac;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
}
.payment-information-products__calculation,
.payment-information-products__total-price {
  margin-top: 26px;
}
.payment-information-products__calculation::before,
.payment-information-products__total-price::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #393939;
  margin-bottom: 24px;
}
.payment-information-products__temp-price,
.payment-information-products__ship-price {
  position: relative;
  color: #393939;
  font-size: 1.4rem;
}
.payment-information-products__temp-price span,
.payment-information-products__ship-price span {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  font-weight: 600;
  font-size: 1.6rem;
}
.payment-information-products__ship-price {
  margin-top: 8px;
}
.payment-information-products__total-price {
  position: relative;
  color: #393939;
}
.payment-information-products__total-price span {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
}

/* <=*/

/* =================== mobile */

@media screen and (max-width:500px) {

  .shopping-cart__item{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 10px;
  }
  
  .shopping-cart__content{
    padding: 14px;
  }
  
  figure:has(.shopping-cart__image) {
    width: 25%;
    height: 150px;  
  }
  .shopping-cart__image{
    width: 100%;
  }
  .shopping-cart__column{
    width: 70%;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .shopping-cart__name{
    width: 100%;
  }
  .shopping-cart__quantity{
    margin: 0;
  }

  .shopping-cart__product-total-price{
    margin: 0;
    text-align: center;
    font-size: 2.2rem;
  }
  .shopping-cart__trash{
    margin: 0;
  }
  
  

  /* --------------- thanh toán */

  .body__payment-information{
    padding: 32px 0;
  }

  .payment-information__content{
    display: block;
  }
  .payment-information__products{
    width: 100%;
  }
 

  .payment-information-products__image{
    width: 80px;
  }
  .payment-information__info{
    margin-top: 20px;
    width: 100%;
  }


}

@media screen and (min-width:500px) and (max-width:800px) {
  /* .shopping-cart__item{
    display: inline;
  } */

  figure:has(.shopping-cart__image) {
    width: 50%;
    height: auto;
    margin: 0 auto;
  
  }
  .shopping-cart__image{
    width: 100px;
  }


  /* --------------- thanh toán */

  .body__payment-information{
    padding: 32px 32px;
  }

  .payment-information__content{
    display: block;
  }
  .payment-information__products{
    width: 100%;
  }
 
  .payment-information__info{
    margin-top: 20px;
    width: 100%;
  }
  
  
  
}


  .payment-information-products__image{
    width: 80px;
  }