/* css lỗi, Màu placeholer input */
.err-text::placeholder {
  color: red;
}
/* //////////////// */

/* Css ấn thông tin cá nhân */
.container-formInformation-user{
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-user{
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.form-user .exit-form-information-user{
  font-size: 2.5rem;
  position: absolute;
  right: 0px;
  top: 0px;
}
.form-user h2{
  margin: 10px;
  font-size: 2rem;
  font-weight: bolder;
}
.form-user .two-input, .one-input{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.two-input input{
  width: 45%;
  padding: 10px;
  border-bottom: 1px solid #fc8eac;
}
.one-input input{
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #fc8eac;
}
.one-input-btn{
  margin: 10px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #fc8eac;
  transition: background 0.2s ease;
}
.one-input-btn:hover{
  background-color: #000;
}
/* ------------------------------ */

/* hiệu ---------css userform khi click .user-click hiện ra form profile-------------------*/
/*---- css form user---- */
.header__user-menu {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 27px;
  right: -120px;
  transform: translateX(-50%);
  z-index: 2;
  background-color: #fff;
  width: 240px;
  padding: 24px 26px;
  border-radius: 20px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.header__user-title {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
}
.header__user-menu-actions {
  margin-top: 18px;
}
.header__user-menu-action {
  display: block;
  font-size: 1.7rem;
  transition: color 0.2s;
}
.header__user-menu-action + .header__user-menu-action {
  margin-top: 12px;
}
.header__user-menu-action:hover {
  color: #fc8eac;
}

/*------------------------- */

/* css form đổi mật khẩu */
.container-change-password-user {
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-change-password {
  background-color: #fff;
  width: 524px;
  border-radius: 24px;
  padding: 20px;
}

.content-change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content-change-password p {
  margin: 10px;
  font-weight: 700;
  font-size: 2.5rem;
  color: #000;
}

.content-change-password div {
  width: 100%;
}

.content-change-password input {
  padding: 10px 0px;
  margin: 30px 0px;
  font-size: 2rem;
  width: 100%;
  border-bottom: 1px solid #fc8eac;
}

.content-change-password button:first-child {
  position: absolute;
  font-size: 2.8rem;
  right: 0px;
  color: #000;
  transform: translate(40%, -30%);
}

.content-change-password button:last-child {
  color: #fff;
  background-color: #fc8eac;
  padding: 10px 20px;
  font-size: 2rem;
  transition: background-color 0.2s ease-in-out;
}

.content-change-password button:last-child:hover {
  background-color: #000;
  color: #fff;
}

/* css phần chữ trong lịch sử mua hàng */
.order-date p{
  margin: 10px 0px;
  font-weight: 600;
}
/* ---------------------------------------- */


@media screen and (max-width:800px) {

  .form-change-password,
  .header__user-block{
    width: 90vw;
    max-width: 527px;
  }
  .form-user{
    width: 90%;
  }
}
