@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#main-content-product-list #title-name{
  padding: 20px;
}

#main-content-product-add .title{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}
#main-content-product-add .title h1{
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 20%;
  padding: 20px;
  width: 300px;
}

/* -------------------css div bảng danh sách sản phẩm------------- */
.product-table{
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  min-height: 890px;
  border-radius: 8px;
}

/* ----------------------------------- */
/*------ css phần thông báo xác nhận muốn xóa sản phẩm --*/
.container-delete-confirm {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-delete-confirm {
  width: 524px;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 10px;
  /* opacity: 1; */
  transition: opacity 0.2s ease-in-out;
  position: relative;
}
.exit-confirm-delete {
  position: absolute;
  top: 0%;
  right: 1%;
  font-size: 2rem;
  color: #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
.content-delete-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.content-delete {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content-delete label {
  font-size: 1.5rem;
  font-weight: 700;
  color: #a94064;
}
.content-delete input {
  padding: 10px;
  font-size: 1.3rem;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
}

.content-delete-confirm .btndelete {
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 700;
  background-color: #db7699;
  color: #fff;
  border: none;
  cursor: pointer;
}

.content-delete-confirm button:hover {
  background-color: #000;
  color: #fff;
}

/*------ ----- --*/

/* css phần tủy chỉnh sửa hoặc xóa sản phẩm */
.edit-product {
  background-color: greenyellow;
  padding: 5px;
  font-weight: 400;
  width: 100px;
  margin: 5px 0;
}
.edit-product:hover {
  color: #fff;
}
.delete-product {
  margin: 5px 0;
  width: 100px;
  background-color: red;
  padding: 5px;
  font-weight: 400;
}
.delete-product:hover {
  color: #fff;
}
/* ----------------------------------------------- */

/* -----------------CSS phần nhập mã, thêm sản phẩm-------------------- */
.content-product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  min-width: 500px;
}
/*---------- css phần tìm kiếm ----------------*/
.search-product.search-id{
  width: calc(75% - 20px*(1/4));
  display: flex;
}
.search-product a{
  width: 100px;
  background-color: #007bff;
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  justify-content: center;
  align-items: center;
  display: flex;
}
.search-product input {
  width: calc(100% - 100px);
  padding: 10px;
  font-size: 1rem;
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
  border: 1px solid #000;
  outline: none;
  transition: background 0.2s ease;
}
.search-product input:hover {
  background-color: #ccc;
}
 .search-id button {
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 0.9rem;
  /* transition: background 0.2s ease; */
  background-color: rgb(237, 171, 203);
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.search-product button:hover {
  background-color: #a9a9a9;
  transform: scale(1.05);
}
.search-product button:active {
  background-color: #808080;
  transform: scale(0.95);
}

/* --------------css phần bộ lọc -------------------*/
#main-content-product-list .filter-product {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.filter-product .content-filter{
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.content-filter input{
  width: 20%;
}
#main-content-product-list .content-filter button {
  width: calc(25% - 20px*(3/4));
  cursor: pointer;
  background-color:rgb(237, 171, 203);
  color: #fff;
  font-size: 0.9rem;
  padding: 13px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.content-filter .quantity input,
#select-product-filter-category,
  #select-product-filter-brand{
    text-align: center;
    width: 100%;
    margin-top: 5px;
  }

#main-content-product-list .filter-product a:hover {
  background-color: #a94064;
}
#main-content-product-list .filter-product .category, .filter-product .brand,  .filter-product .quantity{
  flex-direction: column;
  display: flex;
  width: calc(25% - 20px*(3/4));
  align-items: center;
}
.filter-product .category select, .filter-product .brand select{
  flex-grow: 1;
  width: 50%;
  margin: 0px;
}
#main-content-product-list .filter-product p{
  margin-right: 10px;
}
#input-filter-quantity {
  font-size: 1rem;
  border: none;
  outline: none;
  border: 1px solid #000;
  transition: background-color 0.2s ease;
  padding: 10px;
  border-radius: 5px;
}
#input-filter-quantity:hover{
  background-color: #ccc;
}
.content-filter button, 
.content-filter input{
  height: 40px;
  margin-top: auto;
}

/* ------------------------------------ */
/* ------------------------------------------*/

/* --------------------responsive-------------------- */
.product-list-table tbody tr td:first-child{
  justify-content: center;
}

@media screen and (min-width: 700px) and (max-width: 1051px) {
  .container-notification p {
    font-size: 1.3rem;
  }
  .content-product-list .product-list-table th:nth-child(8) {
    width: 120px;
  }
  .content-product-list .product-list-table td:nth-child(8) {
    width: 120px;
  }
  body #side-bar.hide {
    width: 100%;
  }
  body #side-bar {
    position: unset;
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: height 0.5s ease;
  }
  #side-bar .brand {
    padding: 0px;
  }
  #side-bar.hide .side-menu {
    height: 0px;
  }
  #side-bar .side-menu {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 180px;
    transition: height 0.5s ease;
  }
  #side-bar .side-menu li.active {
    background: none;
  }
  #side-bar .side-menu li.active::after,
  .active::before {
    display: none;
  }
  #side-bar .side-menu li {
    margin: 0px;
    width: calc(100% / 2);
  }
  #side-bar .side-menu li a {
    overflow: unset;
  }
  #side-bar .side-menu li.active-mobile {
    border-bottom: 2px solid #fff;
  }

  body #side-bar.hide ~ #content {
    width: 100%;
    position: unset;
  }
  body #content {
    width: 100%;
    position: unset;
  }
  #content nav::before,
  nav::after {
    display: none;
  }
  #content nav {
    width: 100%;
    padding: 15px;
  }
  #content main {
    padding: 10px;
  }

  /* css phần bảng danh sách sản phẩm */
  /* #content main .title #title-name,
  .title h1 {
    display: none;
  } */
  /* .product-list-table
  th:first-child,
  td:first-child,
  th:nth-child(6),
  td:nth-child(6) */
  /* th:nth-child(4) */
  /* td:nth-child(4)  */
  /* {
    display: none;
  } */
  .content-product-list .product-list-table th:nth-child(1) {
    width: 110px;
  }
  .content-product-list .product-list-table th:nth-child(2) {
    width: 100px;
  }
  .content-product-list .product-list-table td:nth-child(2) {
    width: 100px;
  }
  .content-product-list .product-list-table th:nth-child(3),
  th:last-child {
    /* min-width: 90px; */

    width: 20%;
  }
  .content-product-list .product-list-table td:nth-child(6) {
    width: 100px;
  }
  .content-product-list .product-list-table th {
    font-size: 0.8rem;
  }
  .content-product-list .product-list-table th:nth-child(3) {
    font-size: 1.1rem;
  }
  /* .content-product-list .product-list-table td:last-child,
  .content-product-list .product-list-table th:last-child {
    padding: 0px;
  } */
  .list-page li {
    margin: 10px;
  }
  /* -----------------------------------------     */

  /* css phần hỏi trước khi xóa sản phẩm */
  .form-delete-confirm {
    width: 90%;
    padding: 10px;
  }
  .form-delete-confirm .content-delete {
    margin: 0px;
  }
  .form-delete-confirm .content-delete input,
  .content-delete button,
  .content-delete label {
    margin-bottom: 20px;
    text-align: center;
  }
  .form-delete-confirm .content-delete {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* css phần sửa thêm sản phẩm */
  .content-product-add {
    display: flex;
    flex-direction: column;
  }
  #left-input {
    margin-bottom: 20px;
  }
  #left-input input,
  textarea,
  select {
    font-size: 1rem;
  }
  /* ----------------------------------- */
}
/* ------------------------------------------------------------ */

/* khang sửa lại thêm css cho ảnh của san pham trong .product-list-table */
/* style="width: 70px; height:90%;" */
.content-product-list .product-list-table td:nth-of-type(1) img {
  width: 70px;
  height: 90%;
}

/* =============================mobile */





@media screen and (max-width: 700px) {
  .content-product-row{
    flex-direction: column-reverse;
  }
  .content-product-row .search-product.search-id{
    width: 100%;
    margin-top: 10px;
  }
  .content-product-row .search-product.search-id input{
    width: calc(100% - 100px);
  }
  
  .content-filter{
    flex-wrap: wrap;
  }
  
  
  #main-content-product-list .filter-product .category, .content-filter .brand, .filter-product .quantity { 
    width: calc(50% - 20px*(1/2));
    margin-right: 0;
    flex-direction: column;
  }
  
  .content-filter .brand {
    width: calc(50% - 20px*(1/2));
    margin-right: 0;
  }
  #main-content-product-list .content-filter a {
    width: calc(50% - 20px*(1/2));
    
  }
  #main-content-product-add .title a{
    font-size: 1rem;
  }
  .notification {
    font-size: 1.1rem;
  }
  .filter-product{
    position: relative;
  }
  .filter-product .content-filter.active {
    /* width: 90%; */
    position: absolute;
    top: 0px;
    left: 65px;
    width: calc(100% - 65px);
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    background-color: #f8e9ef;
  }
  .filter-product #select-product-filter-category,
  #select-product-filter-brand,
  #input-filter-quantity {
    border-radius: 4px;
    text-align: center;
  }
  
  
  
  .filter-product a{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .filter-product input{
    margin-top: 20px;
    width: 20%;
    height: 40px;
    display: flex;
    
  }
  
  .content-product-row{
    display: flex;
    width: 100%;
    min-width: 0;
  }
  .btn.btn-add-product{
    width: 40%;
    min-width: 140px;
  }
  .search-product.search-id{
    width: calc(100% - 140px);
  }
  .search-product.search-id input{
    width: 60%;
    flex-grow: 1;
  }
  
  
  .category,
  .brand{
    flex-direction: column;
  }
  
  
  .main-content-product-list {
    padding: 0;
  }
  .nav-link {
    display: none;
  }
  .content-product-list .product-list-table th {
    display: none;
  }
  
  .content-product-list .product-list-table td {
    display: flex;
    text-align: left;
  }
  .content-product-list .product-list-table td::before {
    font-weight: 700;
    width: 100px;
  }
  .content-product-list .product-list-table td:first-child {
    margin-top: 50px;
  }
  .content-product-list .product-list-table td:nth-of-type(1) img {
    width: 120px;
    margin: 0 auto;
  }
  .content-product-list .product-list-table td:nth-of-type(2)::before {
    content: "Mã";
    font-weight: 700;
  }
  .content-product-list .product-list-table td:nth-of-type(3)::before {
    content: "Tên";
    font-weight: 700;
  }
  .content-product-list .product-list-table td:nth-of-type(4)::before {
    content: "Thương hiệu";
    font-weight: 700;
  }
  .content-product-list .product-list-table td:nth-of-type(5)::before {
    content: "Loại";
    font-weight: 700;
  }
  .content-product-list .product-list-table td:nth-of-type(6)::before {
    content: "Giá";
    font-weight: 700;
  }
  .content-product-list .product-list-table td:nth-of-type(7)::before {
    content: "Số Lượng";
    font-weight: 700;
  }
  
  .content-product-list .product-list-table td:nth-of-type(8)::before {
    content: "Tuỳ chỉnh";
    font-weight: 700;
    padding: 15px;
  }
  
  .delete-product,
  .edit-product {
    padding: 0;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px 30px;
    border-radius: 3px;
  }
  
  .delete-product {
    margin-left: 30px;
  }
  
  body #side-bar.hide {
    width: 100%;
  }
  body #side-bar {
    position: unset;
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: height 0.5s ease;
  }
  #side-bar .brand {
    padding: 0px;
  }
  #side-bar.hide .side-menu {
    height: 0px;
  }
  #side-bar .side-menu {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 180px;
    transition: height 0.5s ease;
  }
  #side-bar .side-menu li.active {
    background: none;
  }
  #side-bar .side-menu li.active::after,
  .active::before {
    display: none;
  }
  #side-bar .side-menu li {
    margin: 0px;
    width: calc(100% / 2);
  }
  #side-bar .side-menu li a {
    overflow: unset;
  }
  #side-bar .side-menu li.active-mobile {
    border-bottom: 2px solid #fff;
  }
  
  body #side-bar.hide ~ #content {
    width: 100%;
    position: unset;
  }
  body #content {
    width: 100%;
    position: unset;
  }
  #content nav::before,
  nav::after {
    display: none;
  }
  #content nav {
    width: 100%;
    padding: 15px;
  }
  #content main {
    padding: 10px;
  }
  
  /* css phần bảng danh sách sản phẩm */
  #content main .title #title-name,
  .title h1 {
    display: none;
  }
  .content-product-list .product-list-table th:first-child,
  td:first-child,
  th:nth-child(6),
  td:nth-child(6),
  th:nth-child(4),
  td:nth-child(4) {
    /* display: none; */
  }
  .content-product-list .product-list-table th:nth-child(2) {
    width: 110px;
  }
  .content-product-list .product-list-table th:nth-child(7) {
    width: 12%;
  }
  .content-product-list .product-list-table th:nth-child(5),
  th:last-child {
    min-width: 90px;
    width: 20%;
  }
  .content-product-list .product-list-table th {
    font-size: 0.8rem;
  }
  .content-product-list .product-list-table th:nth-child(3) {
    font-size: 1.1rem;
  }
  /* .content-product-list .product-list-table td:last-child {
    padding: 0px;
    } */
    .list-page li {
      margin: 10px;
    }
    /* -----------------------------------------     */
    
    /* css phần hỏi trước khi xóa sản phẩm */
    .form-delete-confirm {
      width: 90%;
      padding: 10px;
    }
    .form-delete-confirm .content-delete {
      margin: 0px;
    }
    .form-delete-confirm .content-delete input,
    .content-delete button,
    .content-delete label {
      margin-bottom: 20px;
      text-align: center;
    }
    .form-delete-confirm .content-delete {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    /* css phần sửa thêm sản phẩm */
    .content-product-add {
      display: flex;
      flex-direction: column;
    }
    #left-input {
      margin-bottom: 20px;
    }
    #left-input input,
    textarea,
    select {
      font-size: 1rem;
    }
    
    .content-product-list .product-list-table th:nth-child(6),
    td:nth-child(6) {
      /* display: block; */
    }
  }
  
  @media screen and (max-width: 500px) {
    .content-filter{
      flex-direction: column;
    }
    #main-content-product-list .filter-product .category, .content-filter .brand, .filter-product .quantity {
      width: 100%;
    }
    #main-content-product-list .content-filter a {
      width: 100%;
    }
  }
  @media screen and (min-width: 1051px) {
    .content-product-list .product-list-table th:nth-child(8) {
      min-width: 120px;
      width: 120px;
    }
    .content-product-list .product-list-table td:nth-child(8) {
    min-width: 120px;
    width: 120px;
  }
}
