.content-order-table th:nth-child(1),
.content-order-table th:nth-child(2) {
  width: 12%;
}
.content-order-table th:nth-child(3){
  width: 18%;
}
.content-order-table th:nth-child(4),
.content-order-table th:nth-child(5){
  width: 17%;
}
.content-order-table th:nth-child(6){
  width: 18%;
}
.content-order-table th:nth-child(7){
  width: 6%;
}
.content.order #title-name{
  padding: 20px;
}
.content.order .table-container {
  width: 100%;
  margin-right: 16px;
  padding: 16px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  min-height: 699px;
  border-radius: 8px;
}

.bx-list-ul {
  color: blue;
  font-size: 1.3rem;
}
/*Order filter*/
.order-filter-container {
  width: 100%;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-bottom: 16px;
}
#order-filter-form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.order-filter-container h2{
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

#order-filter-form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}
.order-filter-form input,
.order-filter-form select {
  width: 100%;
  height: 35px;
  padding: 3px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0px;
}
.order-filter-form select {
  text-align: center;
  border: 1px solid #000;
}
#orderID-search {
  width: 100%;
  height: 35px;
  padding: 3px;
  font-size: 1rem;
  border: none;
  margin-top: auto;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  transition: border-color 0.3s ease;
  transition: background-color 0.2s ease;
}
#orderID-search:hover{
  background-color: #ccc;
}
.orderID-search-container {
  display: flex;
}
.order-filter-row{
  width: 100%;
}
.order-filter-row:nth-child(1){
  display: flex;
  margin-bottom: 32px;
}
.order-filter-row:nth-child(1) .order-filter-group {
  width: calc(25% - 16px);
  margin-right: 16px;
}
.order-filter-row:nth-child(1) .order-filter-group:last-child {
  width: 25%;
  margin-right: 0px;
}
.order-filter-start-end-date-container {
  display: flex;
}
.order-filter-buttons {
  width: 25%;
  display: flex;
  align-items: flex-end;
}
.order-filter-buttons > input {
  background-color: rgb(237, 171, 203);
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.order-filter-buttons > input:hover {
  background-color: #a9a9a9;
  /* Màu sáng hơn */
  transform: scale(1.05);
  /* Phóng to nhẹ */
}
.order-filter-buttons > input:active {
  background-color: #808080;
  /* Màu tối hơn */
  transform: scale(0.95);
  /* Nhỏ lại nhẹ */
}
.order-filter-button:first-child {
  width: 50%;
}
.order-filter-button:last-child{
  width: calc(50% - 16px);
  margin-left: 16px;
}
.order-filter-row:nth-child(2){
  display: flex;
}
.order-filter-row:nth-child(2) .order-filter-group{
  width: calc(25% - 16px);
  margin-right: 16px;
}
.order-filter-row:nth-child(2) .order-filter-group:last-child{
  width: 25%;
  margin-right: 0px;
}
.order-filter-group * {
  width: 100%;
}
.order-filter-start-end-date-container {
  width: 50%;
}
.order-filter-start-end-date-container > *{
  width: calc(50% - 16px);
  margin-right: 16px;
}

/* Nút áp dụng bộ lọc */
.order-btn-apply {
  background-color: #007bff;
  color: #fff;
}

.order-btn-filter:hover {
  background-color: #0056b3;
}

/* Nút reset */
.order-btn-reset {
  background-color: #f44336;
  color: #fff;
}

.order-btn-reset:hover {
  background-color: #c33b29;
}
/* Chi tiết đơn hàng */
.order-details-modal {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9995;
}
.order-details-modal-content {
  position: relative;
  margin: 29px auto;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-height: 93%;
  overflow: auto;
}
.order-details-modal-content .status-label{
  width: 55%;
  margin: 0;
}
.content.order .close-btn {
  position: absolute;
  top: 9px;
  right: 9px;
  font-size: 2rem;
  cursor: pointer;
}

.order-header {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.order-details-modal p,
.order-details-modal span {
  font-size: 1rem;
}
.order-details-modal h2,
.order-details-modal h3 {
  margin-bottom: 15px;
}
.order-details-modal h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.order-details-modal h3 {
  font-size: 1.3rem;
  font-weight: 700;
}
#order-details-modal p {
  margin-bottom: 16px;
}
.order-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
.status-label {
  text-align: center;
  padding: 7px 7px;
  border-radius: 6px;
  width: 75%;
  height: 55px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-label.pending {
  background-color: #ffc107;
  color: white;
}
.status-label.accepted {
  background-color: #28a745;
  color: white;
}
.status-label.canceled {
  background-color: #dc3545;
  color: white;
}
.status-label.shipped {
  background-color: #9370db;
  color: white;
}
.order-customer-info-and-cost-wrapper {
  display: flex;
  justify-content: space-between;
}
.order-header,
.customer-info,
.product-info,
.order-summary {
  margin-top: 25px;
}
.customer-info {
  width: calc(65% - 32px);
  margin-right: 32px;
}
.order-summary {
  width: 35%;
}
.action-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;
}
.action-bar .order-print-btn {
  margin-right: auto;
}
.order-btn {
  padding: 10px 15px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}
.order-confirm-btn {
  background-color: #28a745;
  margin-right: 5px;
}
.order-shipped-btn {
  background-color: #9370db;
}

.order-cancel-btn {
  background-color: #dc3545;
}

.order-delete-btn {
  background-color: #6c757d;
}
.order-confirm-modal{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.order-confirm-modal-content{
  position: relative;
  margin: 0 auto;
  margin-top: 15%;
  background-color: white;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  width: 35%;
}
.order-confirm-modal-message{
  margin-top: 16px;
  font-size: 1.3rem;
  text-align: center;
}
.order-confirm-modal-buttons{
  margin: 0 auto;
  margin-top: 32px;
  width: 90%;
  display: flex;
  gap: 0 12px;
}
#order-confirm-confirm-btn{
  margin: 0px;
  flex-grow: 1;
}
#order-confirm-cancel-btn{
  flex-grow: 1;
}

/* Responsive */
@media (max-width: 480px) {
  .order-btn {
    width: 100%;
  }
}
/* ======================= chung cho moble and table */

@media screen and (max-width: 600px) {
  .content.order {
    flex-direction: column;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
  .content-order-table th {
    display: none;
  }

  .content-order-table table tr {
    display: block;
    padding-top: 50px;
  }
  .content-order-table td {
    display: flex;
    text-align: left;
  }
  .content-order-table td::before {
    font-weight: 700;
    width: 150px;
  }
  .content-order-table td:nth-of-type(1)::before {
    content: "Mã đơn hàng";
    font-weight: 700;
  }
  .content-order-table td:nth-of-type(2)::before {
    content: "Mã khách hang";
    font-weight: 700;
  }
  .content-order-table td:nth-of-type(3)::before {
    content: "Ngày đặt hàng";
    font-weight: 700;
  }
  .content-order-table td:nth-of-type(4)::before {
    content: "Giá bán";
    font-weight: 700;
  }

  .order-details-modal-content {
    width: 100%;
    margin: 0;
  }
  .order-filter-container {
    width: calc(100% - 30px);
    margin-top: 10px;
  }
}

/* ======================= chung cho moble and table */

@media screen and (max-width: 600px) {
  .content.order .table-container {
    margin-top: 20px;
  }
  .content.order {
    flex-direction: column-reverse;
  }
  .content-order-table th {
    display: none;
  }

  .content-order-table-body table tr {
    margin: 100px;
    padding-top: 50px;
  }
  .content-order-table td {
    display: flex;
    text-align: left;
  }
  .content-order-table td::before {
    font-weight: 700;
    width: 150px;
  }

  .content-order-table td:nth-of-type(1)::before {
    content: "Mã đơn hàng";
    font-weight: 700;
  }
  .content-order-table td:nth-of-type(2)::before {
    content: "Mã khách hang";
    font-weight: 700;
  }
  .content-order-table td:nth-of-type(3)::before {
    content: "Ngày đặt hàng";
    font-weight: 700;
  }
  .content-order-table td:nth-of-type(4)::before {
    content: "Giá bán";
    font-weight: 700;
  }
  .content-order-table td:nth-of-type(5)::before {
    content: "Tổng cộng";
    font-weight: 700;
  }
  .content-order-table td:nth-of-type(6)::before {
    content: "Trạng thái";
    font-weight: 700;
  }
  .content-order-table td:nth-of-type(7)::before {
    content: "Chi tiết";
    font-weight: 700;
  }

  .order-details-modal-content {
    width: 100%;
    max-height: 100%;
  }
  .order-confirm-modal-buttons {
    flex-direction: column;
    gap: 12px 0px;
  }
  .table-container,
  .order-filter-container {
    width: 100% !important;
    margin: 0;
  }
  .content-order-table-body tr:nth-of-type(2n) {
    background-color: #f9f0f0;
  }
}

/* ======================== table */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .content-order-table th {
    display: none;
  }
  .content-order-table td {
    display: flex;
    text-align: left;
  }
  .content-order-table td::before {
    font-weight: 700;
    width: 150px;
  }
  .content-order-table .content-order-table-body td:first-child {
    margin-top: 50px;
  }
  .content-order-table-body td:nth-of-type(1)::before {
    content: "Mã đơn hàng";
    font-weight: 700;
  }
  .content-order-table-body td:nth-of-type(2)::before {
    content: "Mã khách hang";
    font-weight: 700;
  }
  .content-order-table-body td:nth-of-type(3)::before {
    content: "Ngày đặt hàng";
    font-weight: 700;
  }
  .content-order-table-body td:nth-of-type(4)::before {
    content: "Giá bán";
    font-weight: 700;
  }
  .content-order-table-body td:nth-of-type(5)::before {
    content: "Tổng cộng";
    font-weight: 700;
  }
  .content-order-table-body td:nth-of-type(6)::before {
    content: "Trạng thái";
    font-weight: 700;
  }
  .content-order-table-body td:nth-of-type(7)::before {
    content: "Chi tiết";
    font-weight: 700;
  }
  .content-order-table-body tr:nth-of-type(2n) {
    background-color: #f9f0f0;
  }
  .table-container,
  .order-filter-container {
    width: 100% !important;
  }
  .content.order .table-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 699px) {
  .order-filter-row:nth-of-type(1) {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .order-filter-row:nth-of-type(2) {
    flex-direction: column;
  }
  .order-filter-row:nth-child(1) .order-filter-group {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
  }
  .order-filter-row:nth-of-type(2) .order-filter-group {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 16px;
  }
  .order-filter-start-end-date-container {
    width: 100%;
    margin-bottom: 16px;
  }
  .order-filter-row:nth-of-type(2) .order-filter-buttons {
    width: 100%;
    margin-bottom: 16px;
  }
}