.title {
    display: flex;
    justify-content:space-between;
}
.title-name {
    text-align: center;
}
.content-product-add {
    display: flex;
    padding: 12px;
    column-gap: 5px
}
.content-product-list table {
    width: 100%;
    padding: 12px;
}
.content-product-list table,th,td {
    text-align: center;
}
.content-product-list table th {
    font-size: 1.2rem;
    background-color: black;
    color: whitesmoke;
    padding: 10px 0px;
}
.content-product-list table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

/* -----css phần list danh mục--- */
.form-category{
    background-color: #ccc;
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 10px;
}
.content-category{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-category p{
    color: #000;
    width: 100%;
    font-size: 1.2rem;
    margin: 10px;
    text-decoration: underline;
}
.content-category p:hover{
    color: #fff;
}


/*------ ----- --*/