
#container-admin-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a94064;
}
.form-login-admin{
    background-color: #fff;
    width: 512px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.form-login-admin .err-text::placeholder{
    color: red;
}
.form-login-admin div{
    width: 100%;
    text-align: center;
}
.form-login-admin h2{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: 20px 0px;
}
.form-login-admin input{
    border: none;
    border-bottom: 1px solid #000;
    width: 80%;
    padding: 10px;
    font-size: 1.5rem;
}
.form-login-admin input:focus{
    outline: none;
    border-bottom: 2px solid #000;
}
.form-login-admin input.login{
    border-radius: 100px;
    width: 50%;
    margin: 20px;
    border: none;
    color: #fff;
    background-color: #000;
    font-size: 1.5rem;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.form-login-admin input.login:hover{
    background-color: #a94064;

}
